body {
  text-align: center;
  font-family: sans-serif;
}

img {
  height: 200px;
}

.foodbox,
.formContainer {
  margin: 20px;
  padding: 20px;
  border: 1px solid black;
}

button {
  background-color: rgb(69, 69, 69);
  color: white;
  border-radius: 50px;
  border: none;
  padding: 10px 15px;
}

.addForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addForm input {
  margin-bottom: 15px;
}
